body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.logo {
  font-size: 6rem;
  color: #333;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  color: #fff;
  background-color: #333;
  padding: 0.2rem 0.5rem;
  margin-left: -0.2rem;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 3rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.cta-button:hover {
  background-color: #0057a5;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: sticky;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
p {
  font-size: 2.5rem;
}
#demo {
  border: 15px solid #333;
}